body{
    background-image: url(../images/myBg2.jpg);
    background-size: 100% 100%;
    padding-top: 1px;
}
#topSignBanner{
    position: absolute;
    top:0;
    width: 100%;
    height: 45px;
    background-color: rgb(245,244,244);
    line-height: 45px;
}
#cancelSend{
    float: left;
    margin-left: 5%;
    font-size: 0.9em;
}
.send{
    float: right;
    margin-right:2%;
    font-size: 0.9em;
    color: #fff;
    height: 25px;
    background-color: rgb(112,242,177);
    text-align: center;
    line-height: 25px;
    width: 15%;
    margin-top: 10px;
    border-radius: 4px;
}
#signWord{
    display: inline-block;
    font-size: 0.95em;
    position: absolute;
    top:-18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#userName{
    font-size: 0.8em;
    position: absolute;
    top:25%;
     left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(128,128,128);
}
#imgWord{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    top:55px;
}
#upLoadContainer{
    width: 100%;
    margin-top:30%;
    background-color: #fff; 
    padding-top: 1px;
    overflow: scroll;
}
#writeAndUpLoad{
    width: 86%;
    margin-top: 3%;
    padding-bottom: 20px;

}
.upBox{
    position: relative;
    display: inline-block;
    margin-top: 3%;
    margin-left: 3%;
    width: 80px;
    height: 80px;
    border: 1px dashed rgb(204,204,204);
}
.deleteImg{
    position: absolute;
    width: 10%;
    top: -9%;
    left: 90%;
}
.upImg{
    width: 100%;
    height: 100%;
}
.plusImg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
}
.inputFeel{
    height: 60px;
    display: block;
    font-size: 0.9em;
    border: solid #e5e9e8 0.2px;
    outline: none;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 8%;
    padding-left: 10px;

}
input::-webkit-input-placeholder { /* WebKit browsers */  
    color: rgb(204,204,204);
}  
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
    color: rgb(204,204,204);
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */  
    color: rgb(204,204,204);
}  
input:-ms-input-placeholder { /* Internet Explorer 10+ */  
    color: rgb(204,204,204);  
} 
#upLabelPart{
    width: 86%;
    height: 34%;
    border: 3px dashed rgb(204,204,204);
    margin-top: 3%;
    padding-top: 1px;
}
.Label{
    width: 12%;
    height: 10px;
    background-color: rgb(246,83,125);
    display: inline-block;
    margin-top: 3%;
    margin-left: 3%;
}
#signInImg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-left: 0;
}
.addLabelBtn{
    width: 30%;
    color: black;
    background-color: rgb(210,210,210);
    border-radius: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top:5%;
    margin-left:1%;
}
#addRemind{
    margin-top:5%;
    margin-left:1%;
    font-size: 0.9em;
    color: rgb(173,173,173);
}
#labelPart{
    width: 100%;
    padding-top: 1px;
    height: 250px;
}
.lbPart1{
    position: relative;
    width: 65px;
    height: 28px;
    background-color: #ff6633;
    font-size: 0.9em;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    padding-top:0.5px;
    box-sizing: border-box;
}
.lbPart2{
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 60px;
    background-color: rgb(255,102,51);
}
#redeemCode{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    /*height: 120px;*/
    background-color: rgb(246,245,245);
    padding-top: 1px;
    display: none;
    z-index:20000;
}

#redeemCode>span{
    margin-left: 10px;
}
#redeemCodes{
    margin-top: 10px;
    margin-bottom: 20px;
}
#redeemCodes>img{
    width:60%;
    display: block;
    margin: 0 auto;
}
#redeemWords{
    width:90%;
    text-align: center;
    margin-top: 10px;

}
#redeemCode>ul{
    list-style: none;
    width: 100%;
    
}
#redeemCode>ul>li{
    width: 100%;
    box-sizing: border-box;
    float: left;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /*border-top: 0.5px solid black;*/
}
#copy{
    border-right: 1px solid black;
}
#close{
    /*border-left: 1px solid black;*/
}